<div class="proprietaire-wrapper">

  <h2 class="proprietaire-title">
    Propriétaire : {{ user.prenom }} {{ user.nom }}
  </h2>

  <div class="proprietaire-content">

    <!-- Formulaire -->
    <form class="proprietaire-form" (ngSubmit)="updateProfile()">

      <label>CIN :</label>
      <input type="text" [(ngModel)]="user.cin" name="Cin">

      <label>Nom :</label>
      <input type="text" [(ngModel)]="user.nom" name="nom">

      <label>Prénom :</label>
      <input type="text" [(ngModel)]="user.prenom" name="prenom">

      <label>Email :</label>
      <input type="email" [(ngModel)]="user.email" name="email">

      <label>Téléphone :</label>
      <input type="text" [(ngModel)]="user.telephone" name="tel">

      <label>Date de naissance :</label>
      <input type="date" [(ngModel)]="user.date_naissance" name="date">

      <button type="submit" class="btn-save">Enregistrer</button>
    </form>

    <!-- Photo Propriétaire -->
    <div class="proprietaire-photo-section">
      <img class="proprietaire-photo" [src]="user.photo || 'assets/utilisateur'" alt="Photo">
      <!-- <img class="proprietaire-photo" [src]="imagePath" alt="Photo">-->
      <div class="photo-buttons">
        <button class="btn-edit" (click)="changePhoto()">Changer</button>
        <button class="btn-clear" (click)="clearPhoto()">Retirer</button>
      </div>
    </div>

  </div>

<hr class="divider">

<!-- LOGEMENTS AJOUTÉS -->
<section class="section">
   <div class="section-header">
    <h3>🏠 Logements Ajoutés</h3>
    <button class="btn-add" (click)="ajouterLogement()">+ Ajouter un logement</button>
  </div>
  <div class="ajoute-grid">
    <div class="ajoute-card" *ngFor="let f of logementsAjoutes">
      <img [src]="f.image" alt="">
      <div class="ajoute-info">
        <h4>{{ f.titre }}</h4>
        <p class="prix">{{ f.prix }} / mois</p>
      </div>
    </div>
  </div>
</section>

<hr class="divider">

<!-- DEMANDES DE RÉSERVATION -->
<section class="section">
  <h3>📅 Demandes de réservation</h3>

  <table class="reservations-table">
    <tr>
      <th>Logement</th>
      <th>Date Début </th>
      <th>Date Fin</th>
      <th>Actions</th>
    </tr>

    <tr *ngFor="let r of reservations">
  <td>{{ r.logement }}</td>
  <td>{{ r.date_debut }}</td>
  <td>{{ r.date_fin }}</td>
  <td class="action-buttons">
    <button class="btn-accept" (click)="accepterReservation(r)">Accepter</button>
    <button class="btn-refuse" (click)="refuserReservation(r)">Refuser</button>
  </td>
</tr>

  </table>
</section>
<button id="btn-retour" (click)="retourAccueil()">← Retour à l'accueil</button>

</div>
