/* Container centré */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #cce7ff, #ffd6e8);
  font-family: Arial, sans-serif;
}

/* Card du formulaire */
.login-card {
  background-color: white;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  width: 500px;
  height: 500px;
}

/* Titres */
.login-card h2 {
  text-align: center;
  color: #333;
  margin-bottom: 25px;
}

/* Labels et inputs */
.login-card label {
  display: block;
  margin-top: 15px;
  color: #555;
  font-weight: bold;
}

.login-card input[type="text"],
.login-card input[type="email"],
.login-card input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Checkbox group */
.checkbox-group {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.checkbox-group label {
  font-weight: normal;
  color: #555;
}

/* Bouton */
.login-card button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(to right, #a3d5ff, #ffb6c1);
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-card button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}



#btn-retour {
  position: fixed;
  bottom: 30px;
  left: 10%;
  transform: translateX(-50%);
  background-color: #fec6cf;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 10px 16px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
  box-shadow: 0 6px 18px rgba(120, 95, 80, 0.25);
}

#btn-retour:hover {
  background-color: #f2a6b2;
  transform: translateX(-50%) scale(1.05);
  box-shadow: 0 8px 25px rgba(120, 95, 80, 0.35);
}