
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125vh;
  background: linear-gradient(to bottom right, #cce7ff, #ffd6e8);
  font-family: Arial, sans-serif;
}

.login-container {
  width: 580px;
    height: 640px;
  margin: 60px auto;
  background: linear-gradient(145deg, #ffffff, #f1f2f2);
  border: 1px solid #e1d4c1;
  box-shadow: 0 10px 30px rgba(120, 95, 80, 0.15);
  border-radius: 20px;
  padding: 40px;
  text-align: center;
  transition: all 0.3s ease;
}


h2 {
  color: #1e2725;
  margin-bottom: 5px;
  font-size: 26px;
  font-weight: 600;
}
.error {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}
.subtitle {
  color: #8b7b74;
  font-size: 14px;
  margin-bottom: 25px;
}

.form-group {
  text-align: left;
  margin-bottom: 18px;
}
.radio-group{
    text-align: left;
    margin-right: 90px;
    margin-top: 60px;
}
#role{
  margin-bottom: 20px;
}
.btn{
  margin-right: 7px;
}
label {
  display: block;
  font-weight: 500;
  color: #4a5a47;
  margin-bottom: 6px;
}

.text {
  width: 100%;
  padding: 10px 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #adccdc;
  background-color: #fffaf6;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  font-size: 14px;
}

.text:focus{
  border-color: #87c5cf;
  box-shadow: 0 0 0 3px rgba(161, 123, 166, 0.25);
  outline: none;
}

.error-box {
  background-color: #e5caae;
  border: 1px solid #f5b5ad;
  border-radius: 10px;
  padding: 10px 15px;
  text-align: left;
  color: #759396;
  font-size: 13px;
  margin-top: 8px;  
  margin-bottom: 10px; 
}
.Error {
  color: #e00000;       /* bright red */
  font-size: 13px;
  font-weight: 600;
  margin-top: 5px;
}

.submit-btn {
  width: 100%;
  background: linear-gradient(145deg, #e4ccdf, #c2e3e3);
  background-size: 200% 200%;
  border: none;
  color: rgb(95, 83, 121);
  font-weight: 600;
  font-size: 15px;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.4s ease;
  margin-top: 30px;
}

.submit-btn:hover {
  background-position: right center;
  transform: scale(1.03);
  box-shadow: 0 6px 15px rgba(40, 38, 38, 0.2);
}

@media (max-width: 768px) {
  .login-container {
    width: 90%;
    padding: 25px;
  }

  h2 {
    font-size: 22px;
  }

  .subtitle {
    font-size: 13px;
  }

  input, select {
    font-size: 13px;
    padding: 9px;
  }

  .submit-btn {
    font-size: 14px;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .login-container {
    width: 95%;
    padding: 20px;
  }

  h2 {
    font-size: 20px;
  }

  .submit-btn {
    font-size: 13px;
    padding: 9px;
    margin-top: 10px;
  }
}



#btn-retour {
  position: fixed;
  bottom: 30px;
  left: 10%;
  transform: translateX(-50%);
  background-color: #fec6cf;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 10px 16px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
  box-shadow: 0 6px 18px rgba(120, 95, 80, 0.25);
}

#btn-retour:hover {
  background-color: #f2a6b2;
  transform: translateX(-50%) scale(1.05);
  box-shadow: 0 8px 25px rgba(120, 95, 80, 0.35);
}

