<body>
<div class="login-container ">
  <h2>Se Connecter</h2>
  <form (ngSubmit)="goNext(form)" #form="ngForm" novalidate>
    <div class="form-group">
      <label>Nom</label>
      <input type="text" name="nom" class="text"[(ngModel)]="user.nom" #nom="ngModel" placeholder="Votre nom" required minlength="3"  /> 
      
       <div class="Error" *ngIf="nom.errors?.['required'] && (nom.touched || nom.dirty)">
          ⚠️ Le nom est obligatoire.
       </div>
       <div class="Error" *ngIf="nom.errors?.['minlength'] && (nom.touched || nom.dirty)">
        ⚠️ Le nom doit contenir au moins 3 caractères.
       </div>
    </div>

    <div class="form-group">
       <label>Prenom</label>
      <input type="text" name="prenom" class="text"[(ngModel)]="user.prenom" #prenom="ngModel" placeholder="Votre Prénom" required minlength="3"  />
    
       <div class="Error" *ngIf="prenom.errors?.['required'] && (prenom.touched || prenom.dirty)">
          ⚠️ Le prénom est obligatoire.
       </div>
       <div class="Error" *ngIf="prenom.errors?.['minlength'] && (prenom.touched || prenom.dirty)">
        ⚠️ Le prénom doit contenir au moins 3 caractères.
       </div>
    </div>
   
    <div class="form-group">
      <label>Email</label>
      <input type="email" name="email" class="text"[(ngModel)]="user.email" placeholder="exemple@mail.com" #email="ngModel" email required />
        <!-- Required error -->
      <div class="Error" *ngIf="email.errors?.['required'] && (email.touched || email.dirty)">
        ⚠️ L'email est obligatoire.
      </div>

       <!-- Invalid email format error -->
      <div class="Error" *ngIf="email.errors?.['email'] && (email.touched || email.dirty)">
        ⚠️ Veuillez entrer un email valide.
       </div>
    
    </div>

    <div class="form-group">
      <label>Mot de passe</label>
      <input type="password" name="password" class="text"[(ngModel)]="user.mot_de_passe"  #password="ngModel"  minlength="6" required />
        <!-- Required error -->
      <div class="Error" *ngIf="password.errors?.['required'] && (password.touched || password.dirty)">
       ⚠️ Le mot de passe est obligatoire.
      </div>

      <!-- Minlength error -->
      <div class="Error" *ngIf="password.errors?.['minlength'] && (password.touched || password.dirty)">
       ⚠️ Le mot de passe doit contenir au moins 6 caractères.
      </div>
    
    </div>

    <div class="radio-group">
  <label id="role">Choissisez Votre Rôle</label>
      
     <input type="radio" name="role" class="btn"[(ngModel)]="user.role" value="proprietaire" required>
     Propriétaire:
   
      <input type="radio" name="role" class="btn"[(ngModel)]="user.role" value="colocataire" required>
       Colocataire:
   
  </div>


    <div class="error-box" *ngIf="errors.length > 0">
      <p *ngFor="let err of errors">⚠️ {{ err }}</p>
    </div>

    <button type="submit" class="submit-btn"  >Se connecter</button>
  </form>
  <button id="btn-retour" (click)="retourAccueil()">← Retour à l'accueil</button>
</div>

</body>


